@model BasicWebApp.Models.Session


<h3>@Model.Title</h3>

<div>
    @Model.Abstract
</div>

@Html.Action("_GetForSession", "Comment", new { SessionID = Model.SessionID} )

<div>
@Html.ActionLink("Back to List", "Index")
</div>
